/* CSS Styles for buttons as created by [stepwise-button ] shortcode
*/

a.stepwise-button {
  display: inline-block;
  background: lightgray;
  text-decoration: none;
  padding: 1em;
  border: 1px solid;
}
a.stepwise-button.stepwise-button-disabled {
  color: gray;
  cursor: default;
  border: none;
}